a{
    color: black;
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    font-size: 1em;
}
em{
    color: #a5b4fc;
    font-style: normal;
}
h1{
    font-family: "Montserrat", sans-serif;
    font-size: 3.5em;
    color: #a5b4fc;
    font-weight:200;
}
p{
    font-family: "Manrope", sans-serif;
    font-size: 1.1em;
    font-weight:100;
}
li{
    font-family: "Manrope", sans-serif;
    font-size: 1em;
}
body{
    background-color: #1f2039;;
}
header, footer{
    background-color:white;
    color: #242424;
    padding: 20px 50px 20px 50px;
}
p, li, h2 {
    color: #f9f8ff;
}
.cta{
    display: inline-block;
    font-family: "Manrope", sans-serif;
    color: white;
    background: linear-gradient(#8e86b5, #acaeed);
    border-radius: 50px;
    padding: 15px 30px;
    margin-top: 20px
    ;
}
.zone-encadree{
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding: 50px;
}
a:hover{
    text-decoration: underline;
}
.cta:hover{
    background: linear-gradient(#696484, #8788ba);
    text-decoration: none;
}
.icone:hover{
    opacity: 0.5;
}
.contenu-a-propos{
    width: 50%;
    margin: auto;
}
h2{
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}
nav, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lien-de-navigation{
    display: flex;
    gap: 150px;
}
.contenu-acceuil{
    display: flex;
    width: 50%;
    gap: 150px;
    margin: auto;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;

}
.images-acceuil{
    background-color: white;
    padding: 80px;
}
.images-acceuil h2{
    color: #242424;
    text-align: center;
}
.images-acceuil div{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px;
}
.grid-paysages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
}
.grid-portraits{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
}
.grid-portraits img,
.grid-paysages img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portfolio-section-photos{
    background-color: white;
    padding: 60px;
}
.portfolio-section-photos h2{
    color: #242424;
    text-align: left;
    margin-bottom: 80px;
    
}
.lien-conteneur-photo{
    position: relative;
}
.photo-hover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    transition: opacity 0.3s ease-in-out;
    display: none;
}
.lien-conteneur-photo:hover .photo-hover{
    display: flex;
}
