.zone-encadree {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
  margin-bottom: 80px;
}

.zone-encadree h2 {
  margin-top: 30px;
}

.zone-encadree ul {
  margin-top: 30px;
}

.zone-encadree + div {
  text-align: center;
}

.contenu-a-propos {
  width: 70%;
  margin: auto;
}
table{
  margin: auto;
  width: 80%;
  text-align: center;
  color: white;
  border-collapse: collapse;
  margin-bottom: 80px;
}
th, td{
  border: 1px solid #8e86b5; 
}
td{
  padding: 80px;
}
th{
  padding: 20px;
}
caption{
  margin-bottom: 80px;
}
@media  screen and (max-width: 996px){
table{
  display: none;
}
  
}

